/*** WIDGETS ***/
/* BUTTONS */

.widget-actionbutton,
.widget-button,
.widget-submitbutton,
.widget-filepicker-add, {
    &:extend(.btn all);
}

.widget-actionbutton,
.widget-button,
.widget-filepicker-add {
    .btn-default;
}

.widget-submitbutton {
    .btn-primary;
}


.widget-lineedit,
.widget-select,
.widget-checkbox,
.widget-textedit,
.widget-datepicker,
.widget-multiselect,
input:not([type=submit]):not([type=button]):not([type=radio]):not([type=checkbox]),
select {
    .form-control;
}
.widget-checkbox,
input[type=checkbox] {
    width:16px !important;
    height:16px !important;
    min-height:16px !important;
}

.widget-menu-button {
    .btn;
    .btn-default;
    .btn-xs;
}

.widget-label {
    display: inline;
}

html .widget-list-element {
    .list-group-item;
}

.widget-bordered {
    .panel;
    .panel-default;
}


/* TOOLBAR */
.widget-toolbar {
    .btn-toolbar;
}
.widget-toolbar > .widget-layout {
    &:extend(.btn-group all);
}

.widget-toolbar:not(.crm-locationbar) > .widget-layout > .widget-layout-flow-item {
    &:extend(.btn all);
    &:extend(.btn-default all);
}



.section-header-tag {
    .badge
} 

/*
.widget-toolbar {
    .navbar;
    .navbar-default;
}
*/


.crm-locationbar {
    .breadcrumb;
    
}
.crm-locationbar > .widget-layout > * {
    &:extend(.breadcrumb>li);
}


/* TABLEVIEW */

.widget-tableview .widget-layout-grid {
     .table;
     .table-striped;
     .table-hover;
}
.widget-tableview .widget-layout-grid thead > tr > td {
    &:extend(.table>thead>tr>th);
    font-weight: bold;
}

/* PAGINATION */
.widget-pageselector {
    &:extend(.pagination);
}
.widget-pageselector .widget-page-number,
.widget-pageselector .widget-page-number-current,
.widget-pageselector .widget-page-previous,
.widget-pageselector .widget-page-next {
    &:extend(.pagination > li > a);
}
.widget-pageselector .widget-page-number,
.widget-pageselector .widget-page-number-current,
.widget-pageselector .widget-page-next {
    margin: 0 0 0 -1px;
}
.widget-pageselector .widget-page-previous {
    &:extend(.pagination > li:first-child > a);
}
.widget-pageselector .widget-page-next {
    &:extend(.pagination > li:last-child > a);
}
.widget-pageselector .widget-page-number-current {
    &:extend(.pagination > .active > a);
}
.widget-pageselector .widget-page-number:hover {
    &:extend(.pagination > li > a:hover);
}



/*** JQUERY ***/

.ui-state-default {
}

.ui-multiselect.ui-state-default {
    .form-control;
}

.ui-multiselect-menu {
    .dropdown-menu;
}

.ui-multiselect-checkboxes > li > label > span {
    vertical-align: middle;
}

.ui-multiselect-checkboxes > li > label > input {
    vertical-align: middle;
    margin: 0px 5px 0 5px;
}

.ui-multiselect {
	.form-control !important;
}

.ui-widget, 
.ui-widget input, 
.ui-widget select,
.ui-widget textarea, 
.ui-widget button {
	font-family:@font-family-base;
}

.ui-tabs-nav {
	.nav !important;
}

/*
.ui-widget-header {
	border:none !important;
	background:#fff !important; 
	border-bottom: 1px solid #ddd !important;
}

.ui-tabs-nav > li > a:focus, 
.ui-tabs-nav > li > a:hover {
	background-color: #fff !important;
	border-top-color: #a21a5c !important;
}

.ui-corner-top {
	border-radius: 0px !important;
}

li.widget-tab {
	background:#fff !important;
	border: none !important;	
}

.ui-widget-header a {
	font-weight:bold !important;
}
*/



.ui-state-active a {
	color: #a21a5c !important;
	border: 1px solid #ddd !important;	
	border-top: #888 3px solid !important;
	border-top-color: #a21a5c !important;	
	border-bottom-color: transparent !important;  
}

.ui-state-active, 
.ui-widget-content .ui-state-active, 
.ui-widget-header .ui-state-active, 
a.ui-button:active, 
.ui-button:active, 
.ui-button.ui-state-active:hover {
    background: #fff !important;
}





/******* LEGACY *******/

.BabLoginMenuBackground input[type=submit],
.BabLoginMenuBackground input[type=button],
.BabLoginMenuBackground button {
    .widget-submitbutton;
}

/*** TABLES ***/

 
table.BabLoginCadreBackground > tbody > tr > td > table.BabLoginMenuBackground,     /* In favorites / applications */
td.BabLoginCadreBackground > table.BabLoginMenuBackground                           /* In many other places */
{
    .table;
    .panel;
    .panel-default;
    
    > tbody > tr > td {
        border-top: none;
    }
}
 

.BabLoginCadreBackground > table:not(.BabLoginMenuBackground) {
    .table;
}

.BabLoginCadreBackground > table:not(.BabLoginMenuBackground) > tbody > tr.BabSiteAdminTitleFontBackground > td {
    &:extend(.table > thead > tr > th);
}
 
 
.crm-page {
    .container
}

