/*
Theme Name: TheRightClick
Theme URI: http://therightclick.gr
Description: A demo theme built to accompany the Therightclick post <a href="http://therightclick.gr">Build a WordPress Theme with Bootstrap</a>.
Author: Jim Deves & Nikos Atsalakis
Author URI: http://therightclick.gr/
Version: 1.0
Tags: responsive, white, bootstrap

This simple theme was built using the example Bootstrap theme "Basic marketing site" found on the Bootstrap web site http://twitter.github.com/bootstrap/examples/hero.html
*/

@font-face {
    font-family: "Open Sans Light";
    src: url('http://mobilisesme.eu/wp-content/themes/trc/bootstrap/fonts/OpenSans-Light-webfont.eot'),
         url('http://mobilisesme.eu/wp-content/themes/trc/bootstrap/fonts/OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('http://mobilisesme.eu/wp-content/themes/trc/bootstrap/fonts/OpenSans-Light-webfont.woff') format('woff'),
         url('http://mobilisesme.eu/wp-content/themes/trc/bootstrap/fonts/OpenSans-Light-webfont.ttf') format('truetype'),
         url('http://mobilisesme.eu/wp-content/themes/trc/bootstrap/fonts/OpenSans-Light-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: "Open Sans Regular";
    src: url('http://mobilisesme.eu/wp-content/themes/trc/bootstrap/fonts/OpenSans-Regular-webfont.eot'),
         url('http://mobilisesme.eu/wp-content/themes/trc/bootstrap/fonts/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('http://mobilisesme.eu/wp-content/themes/trc/bootstrap/fonts/OpenSans-Regular-webfont.woff') format('woff'),
         url('http://mobilisesme.eu/wp-content/themes/trc/bootstrap/fonts/OpenSans-Regular-webfont.ttf') format('truetype'),
         url('http://mobilisesme.eu/wp-content/themes/trc/bootstrap/fonts/OpenSans-Regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

html, body {
    height: 100%;
    min-height: 100%;
}

body {
    font-family: "Open Sans Light", sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: "Open Sans Regular"
}

header {
    position: relative;
}
.flag {
    position: absolute;
    z-index: 1111111111;
    right: 20px;
}
.flag li {
    display: inline-block;
}
.main-content {
    background-color: #ffffff;
    padding-bottom: 30px;
}
.full-width {
    width: 100%;
}
.logo {
    top: 25px;
    left: 30px;
    position: absolute;
    z-index: 1111;
    background-color: rgba(255, 255, 255, 0.43);
    box-shadow: 0 0 42px 42px rgba(255, 255, 255, 0.43);
}

.main-nav {
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 1000;
}

.navbar-nav > li.open > .dropdown-menu {
    background-color: #e21013;
}

.navbar-nav > li.open > .dropdown-menu > li > a {
    color: #fff;
}

.navbar-nav > li.open > .dropdown-menu > li > a:hover,
.navbar-nav > li.open > .dropdown-menu > li > a:focus {
    background-color: #2487be;
    color: #fff;
}

.navbar-nav > li > .dropdown-menu > .active > a,
.navbar-nav > li > .dropdown-menu > .active > a:hover,
.navbar-nav > li > .dropdown-menu > .active > a:focus {
    background-color: #2795d0;
    color: #fff;
}

#footer {
    padding: 20px 0;
}
footer {
    background-color: #fff;
}
.color-yellow {
    color: #f2c21f;
}

.flex {display: flex;}

.p0 {padding:0;}
.p5 {padding: 5px;}
.p10 {padding: 10px;}
.p20 {padding: 20px;}

.pt0 {padding-top: 0;}
.pt5 {padding-top: 5px;}
.pt10 {padding-top: 10px;}
.pt20 {padding-top: 20px;}

.pr0 {padding-right: 0;}
.pr5 {padding-right: 5px;}
.pr10{padding-right:10px;}
.pr20 {padding-right: 20px;}

.pl0 {padding-left: 0;}
.pl5 {padding-left: 5px;}
.pl10{padding-left:10px;}
.pl20 {padding-left: 20px;}

.m20 {margin: 20px;}
.m10 {margin: 10px;}
.ml10 {margin-left: 10px;}
.mr10 {margin-right: 10px;}
.w90 {width: 90%;}

.footer-container-full {
    background-color: #0375b4;
    min-height: 250px;
}
.footer-container {
    background-color: #2487be;
    min-height: 250px;
    color: #ffffff;
    height: 100%;
    position: relative;
}
.social {
    bottom: 10px;
    position: absolute;
}
.es_button, .es_textbox {
    padding-bottom: 5px !important;
    padding-top: 0 !important;
}

/* newsletters */
.es_textbox input {
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #555;
    display: block;
    font-size: 14px;
    height: 34px;
    line-height: 1.42857;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 80%;
}
.es_button input {
    background-color: #fdc300;
    background-image: none;
    border: 1px solid #fdc300;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #fff;
    display: block;
    font-size: 14px;
    height: 34px;
    line-height: 1.42857;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 80%;
}

/* posts */
.border-posts {
    border: 1px solid #DADADA;
    box-shadow: 0 0 8px -3px #989898;
}
.posts-img {
    height: 150px;
    background: #fbfbfb none repeat scroll 0 0;
    box-shadow: 0 5px 12px -9px #b3b3b3;
}
.posts-img > img {
    max-height: 150px;
    width: auto;
    margin: auto;
}
.post-title a {
    color: #555555;
}
.post-date  {
    color: #808080;
    font-style: italic;
}

.about-frontpage {
    padding: 10px 20px;
    background-color: #FDC300;
    color: #ffffff;
    text-decoration: none;
    font-weight: 400;
}
.about-frontpage:hover {
    background-color: #0375B4;
    color: #ffffff;
    text-decoration: none;
}

.pt-cv-wrapper .btn-success {
    background-color: #ffffff !important;
    border-color: #ffffff !important;
    color: #fdc300 !important;
}
.frontpage .pt-cv-content-item {
    border: 1px solid #ccc;
    padding: 10px;
}
.pt-cv-wrapper .col-md-4 {
    margin: 10px !important;
    width: 30% !important;
}

.background-sidebar {
    background-color: #F0F1F2;
    margin-top: 20px;
}

/* contact form */
.wpcf7-form-control {
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #555;
    display: block;
    font-size: 14px;
    height: 34px;
    line-height: 1.42857;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 100%;
}
.wpcf7-form-control:focus {
    border-color: #66afe9;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(102, 175, 233, 0.6);
    outline: 0 none;
}
.wpcf7-textarea {
    height: auto;
}
.wpcf7-submit {
    background-color: #5bc0de;
    border-color: #46b8da;
    color: #fff;
    -moz-user-select: none;
    border: 1px solid transparent;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857;
    margin-bottom: 0;
    padding: 6px 12px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    width: 20%;
}
.responsive img {
    width: 100%;
    height: auto;
}

.disclaimer {
    font-size: 13px;
}

.alignnone {
    margin: 5px 20px 20px 0;
}

.aligncenter,
div.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}

.alignright {
    float:right;
    margin: 5px 0 20px 20px;
}

.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.alignright {
    float: right;
    margin: 5px 0 20px 20px;
}

a img.alignnone {
    margin: 5px 20px 20px 0;
}

a img.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto
}

.wp-caption {
    background: #fff;
    border: 1px solid #f0f0f0;
    max-width: 96%; /* Image does not overflow the content area */
    padding: 5px 3px 10px;
    text-align: center;
}

.wp-caption.alignnone {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignleft {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignright {
    margin: 5px 0 20px 20px;
}

.wp-caption img {
    border: 0 none;
    height: auto;
    margin: 0;
    max-width: 98.5%;
    padding: 0;
    width: auto;
}

.wp-caption p.wp-caption-text {
    font-size: 11px;
    line-height: 17px;
    margin: 0;
    padding: 0 4px 5px;
}

/* Text meant only for screen readers. */
.screen-reader-text {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
}

.screen-reader-text:focus {
    background-color: #f1f1f1;
    border-radius: 3px;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
    clip: auto !important;
    color: #21759b;
    display: block;
    font-size: 14px;
    font-size: 0.875rem;
    font-weight: bold;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000; /* Above WP toolbar. */
}
.top-button {
    position: absolute;
    right: 10%;
    z-index: 1115;
    font-size: 20px;
    top: 8%;
    font-weight: 600;
    padding: 70px 35px;
    border-radius: 50%;
    background-color: #ed2124;
    border-color: #FF4444;
}
.top-button:hover,
.top-button:active,
.top-button:focus {
    background-color: #F72E2E;
    border-color: #ed2124;
}
@media (max-width: 1200px) {
    #top {
        top:75%;
    }
    .top-button {
        right: 10%;
        top: 8%;
        font-size: 12px;
        padding: 50px 20px;
    }
}
@media (max-width: 992px) {
    .pt-cv-wrapper .col-md-4 {
        width: 90% !important;
    }
    .pt-cv-content-item {
        border: none;
    }
    .main-nav a {
        font-size: 12px !important;
        padding: 15px 10px !important;
    }
    .top-button {
        right: 2%;
        top: 16%;
        font-size: 11px;
        padding: 35px 15px;
    }
}

@media (max-width: 768px) {
    .main-nav {
        position: relative;
        margin-bottom: 0;
    }
    .main-nav a {
        font-size: 14px !important;
        padding: 8px 8px !important;
    }
    .es_textbox input, .es_button input {
        width: 100%;
    }
    .newsletter-div{
        padding-left: 90px;
        padding-right: 90px;
    }
    .social {
        bottom: -65%;
        position: relative;
    }
    #top {
        top:60%;
    }
    footer {
        text-align: center;
    }
    .navbar {
        min-height: 38px !important;
    }
    .navbar-brand {
        height: 38px !important;
    }
    .navbar-default .navbar-toggle .icon-bar {
        background-color: #fff;
    }
    .navbar-default .navbar-toggle {
        border: none;
    }
    .navbar-toggle {
        background-color: #2487be;
        margin-bottom: 3px;
        margin-right: 25px;
        margin-top: 5px;
        padding: 6px;
        position: relative;
    }
    .main-nav a, .main-nav .navbar-brand {
        font-size: 14px !important;
        padding: 8px 35px !important;
        color: #0375b4;
    }
    .top-button {
        right: 16%;
        top: 16%;
        font-size: 9px;
        padding: 30px 20px;
    }
}

