/*!
 */

/*

@import "bs.less";
@import "base.less";

*/

@import (less) "origin/style.css";




.ui-state-default {
}


.widget-actionbutton,
.widget-button {
	.btn;
	.btn-default;
}

.widget-submitbutton {
	.btn;
	.btn-primary;
}

.widget-filepicker-add {
	.btn;
	.btn-default;
}

.ui-multiselect {
	.btn;
	.btn-default;
}

.ui-multiselect-menu {
	.dropdown-menu;
}

.widget-lineedit,
.widget-select,
.widget-checkbox,
.widget-textedit {
	.form-control;
}

.widget-datepicker {
	.form-control;
}


.widget-multiselect {
	.form-control;
}

.widget-menu-button {
	.btn;
	.btn-default;
	.btn-xs;
}

.widget-list-element {
    .list-group-item;
}

