/*!
 */

@import (less) "origin/style.css";

.widget-submitbutton,
.BabLoginMenuBackground input[type=submit],
.BabLoginMenuBackground input[type=button],
.BabLoginMenuBackground button {
	.btn;
	.btn-primary;
}



.ui-state-default {
}


.widget-actionbutton,
.widget-button {
	.btn;
	.btn-default;
}


.widget-filepicker-add {
	.btn;
	.btn-default;
}

.ui-multiselect {
	.btn;
	.btn-default;
}

.ui-multiselect-menu {
	.dropdown-menu;
}

.widget-lineedit,
.widget-select,
.widget-checkbox,
.widget-textedit,
.BabLoginMenuBackground input:not([type=submit]):not([type=button]):not([type=radio]),
.BabLoginMenuBackground select {
	.form-control;
}

.widget-checkbox {
    width:16px !important;
    height:16px !important;
}

.widget-datepicker {
	.form-control;
}


.widget-multiselect {
	.form-control;
}

.widget-menu-button {
	.btn;
	.btn-default;
	.btn-xs;
}

.widget-list-element {
    .list-group-item;
}

table.BabLoginMenuBackground > tbody > tr > td {
	padding: 4px;
}

/** LEGACY TABLES **/

.BabLoginCadreBackground > table:not(.BabLoginMenuBackground) {
	.table;
}


.BabLoginCadreBackground > table:not(.BabLoginMenuBackground) > tbody > tr > td {
	&:extend(.table > thead > tr > td);
}

