
<!-- 
<OFTranslate text="Empty portlet area" folder="theme_bootstrap" saveas="placeholder">
-->
<div class="row">
    <div class="col-md-4">
        <OFPortletContainer id="home-private-left" editplaceholder="<OVplaceholder>" mode="locked">
    </div>
    
    <div class="col-md-4">
        <OFPortletContainer id="home-private-center" editplaceholder="<OVplaceholder>" mode="locked">
    </div>
    
    <div class="col-md-4">
        <OFPortletContainer id="home-private-right" editplaceholder="<OVplaceholder>" mode="locked">
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <OFPortletContainer id="home-public-left" editplaceholder="<OVplaceholder>">
    </div>
    
    <div class="col-md-4">
        <OFPortletContainer id="home-public-center" editplaceholder="<OVplaceholder>">
    </div>
    
    <div class="col-md-4">
        <OFPortletContainer id="home-public-right" editplaceholder="<OVplaceholder>">
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <OFPortletContainer id="home-public-bottom-left" editplaceholder="<OVplaceholder>">
    </div>

    <div class="col-md-6">
        <OFPortletContainer id="home-public-bottom-right" editplaceholder="<OVplaceholder>">
    </div>
</div>